<div class="container">
    <div class="groups">

        <div class="group group-c">
            <div class="group-top">
                <p>Grupo a</p>
            </div>
            <div class="group-teams">
                <p>BRASIL</p>
                <p>BOLIVIA</p>
                <p>VENEZUELA</p>
                <p>PERÚ</p>
            </div>
        </div>
        <div class="group group-d">
            <div class="group-top">
                <p>Grupo B</p>
            </div>
            <div class="group-teams">
                <p>ARGENTINA</p>
                <p>COLOMBIA</p>
                <p>PARAGUAY</p>
                <p>QATAR</p>
            </div>
        </div>
        <div class="group group-e">
            <div class="group-top">
                <p>Grupo C</p>
            </div>
            <div class="group-teams">
                <p>URUGUAY</p>
                <p>ECUADOR</p>
                <p>JAPÓN</p>
                <p>CHILE</p>
            </div>
        </div>




    </div>
</div>


