<div class="container">
    <div class="groups">
        <div class="group group-a">
            <div class="group-top">
                <p>Grupo A</p>
            </div>
            <div class="group-teams">
                <p>Rusia</p>
                <p>ARABIA SAUDITA</p>
                <p>EGIPTO</p>
                <p>URUGUAY</p>
            </div>
        </div>
        <div class="group group-b">
            <div class="group-top">
                <p>Grupo B</p>
            </div>
            <div class="group-teams">
                <p>PORTUGAL</p>
                <p>ESPAÑA</p>
                <p>MARRUECOS</p>
                <p>IRAN</p>
            </div>
        </div>
        <div class="group group-c">
            <div class="group-top">
                <p>Grupo C</p>
            </div>
            <div class="group-teams">
                <p>FRANCIA</p>
                <p>AUSTRALIA</p>
                <p>PERÚ</p>
                <p>DINAMARCA</p>
            </div>
        </div>
        <div class="group group-d">
            <div class="group-top">
                <p>Grupo D</p>
            </div>
            <div class="group-teams">
                <p>ARGENTINA</p>
                <p>ISLANDIA</p>
                <p>CROACIA</p>
                <p>NIGERIA</p>
            </div>
        </div>
        <div class="group group-e">
            <div class="group-top">
                <p>Grupo E</p>
            </div>
            <div class="group-teams">
                <p>BRASIL</p>
                <p>SUIZA</p>
                <p>COSTA RICA</p>
                <p>SERBIA</p>
            </div>
        </div>
        <div class="group group-f">
            <div class="group-top">
                <p>Grupo F</p>
            </div>
            <div class="group-teams">
                <p>ALEMANIA</p>
                <p>MÉXICO</p>
                <p>SUECIA</p>
                <p>COREA DEL SUR</p>
            </div>
        </div>
        <div class="group group-g">
            <div class="group-top">
                <p>Grupo G</p>
            </div>
            <div class="group-teams">
                <p>BÉLGICA</p>
                <p>PANAMÁ</p>
                <p>TÚNEZ</p>
                <p>INGLATERRA</p>
            </div>
        </div>
        <div class="group group-h">
            <div class="group-top">
                <p>Grupo H</p>
            </div>
            <div class="group-teams">
                <p>POLONIA</p>
                <p>JAPÓN</p>
                <p>COLOMBIA</p>
                <p>SENEGAL</p>
            </div>
        </div>

    </div>
</div>


