
<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>.: Unicentro :.</title>

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="resources/assets/css/style.css" />
</head>
<body class="login">
<header>

</header>


<div class="container">
    <div class="content-home">
      <div class="part1">
        <img class="loteria" src="resources/assets/images/logo_loteria.png" alt="">
        <img src="resources/assets/images/imagen_home.png" alt="">
      </div>
      <div class="part2">

        <form class="form-login" action="" method="post">
          <input type="text" name="" value="" placeholder="CC:">
          <input type="text" name="" value="" placeholder="INGRESA TU CÓDIGO">
          <div class="campo">
              <input type="checkbox" name="" value="">
              <span>* Acepto <a href="">terminos y condiciones</a></span>
          </div>
          <input type="submit" name="" value="ingresar">
        </form>

      </div>
    </div>
</div>


<div class="alerta">
  <div class="alertint">
    <a class="cerraralerta">X</a>
    <span class="textalert"></span>
  </div>
</div>
<footer>
    <div class="content-footer">
      <img src="resources/assets/images/logo_footer.png" alt="">
      <div class="redes">
        <a href="#">
          <img src="resources/assets/images/fb.png" alt="">
        </a>
        <a href="#">
          <img src="resources/assets/images/ins.png" alt="">
        </a>
        <a href="#">
          <img src="resources/assets/images/tw.png" alt="">
        </a>
        <a href="#">
          <img src="resources/assets/images/yt.png" alt="">
        </a>
        <a href="#">www.unicentromedellin.com.co</a>
      </div>
    </div>
</footer> 

<script src="resources/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="resources/assets/js/vendor/jquery.bxslider.min.js"></script>
<script src="resources/assets/js/vendor/jquery-scrolltofixed-min.js"></script>
<script src="resources/assets/js/app/app.app-min.js"></script>
</body>
</html>
