
<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>.: Unicentro :.</title>

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="resources/assets/css/style.css" />
</head>
<body class="mapa">
<header>

</header>


<div class="container">
  <div class="content-home">
    <!-- Start Header -->
    <div class="wrapper-general">
      <img class="logo-mapa" src="resources/assets/images/logo.png" alt="">
      <div class="wrapper">
        <div class="contentBody">
          <section class="polla">
            <div id="bracket">
              <div class="container">
                <div class="split split-one">
                  <div class="round round-two">
                    <div class="round-details purple">Cuartos de Finales</div>
                    <div class="flex-mobile">
                      <ul class="matchup matchup-blue">
                        <li class="team team-top"><input type="text" class="name" placeholder="A 1"><input type="text" class="score" value="0" disabled></li>
                        <span class="vs">VS</span>
                        <li class="team team-bottom"><input type="text" class="name" placeholder="3º B/C"><input type="text" class="score" value="0" disabled></li>
                      </ul>
                      <ul class="matchup matchup-blue">
                        <li class="team team-top"><input type="text" class="name" placeholder="2 A"><input type="text" class="score" value="0" disabled></li>
                        <span class="vs">VS</span>
                        <li class="team team-bottom"><input type="text" class="name" placeholder="2 B"><input type="text" class="score" value="0" disabled></li>
                      </ul>
                    </div>

                  </div> <!-- END ROUND TWO -->

                  <div class="round round-three">
                    <div class="round-details green">Semifinal</div>
                    <div class="flex-mobile">
                      <ul class="matchup matchup-red">
                        <li class="team team-top"><input type="text" class="name" placeholder="G 9"><input type="text" class="score" value="0" disabled></li>
                        <span class="vs">VS</span>
                        <li class="team team-bottom"><input type="text" class="name" placeholder="G 10"><input type="text" class="score" value="0" disabled></li>
                      </ul>
                    </div>
                  </div> <!-- END ROUND THREE -->
                </div>
                <div class="champion">


                  <div class="final">

                    <div class="round-details yellow">FINAL</div>
                    <ul class="matchup matchup-red">
                      <div class="top">

                      </div>
                      <li class="team team-top"><input type="text" class="name" placeholder="G  13"><input type="text" class="score" value="0" disabled></li>
                      <span class="vs">VS</span>
                      <li class="team team-bottom"><input type="text" class="name" placeholder="G 14"><input type="text" class="score" value="0" disabled></li>
                      <li class="team team-bottom">
                        <select class="name" name="">
                          <option value="">-- Seleccione --</option>
                        </select>
                        <input type="text" class="score" value="0" disabled>
                      </li>
                      <!--<input type="text" class="name-champ" placeholder="CAMPEÓN">-->
                    </ul>
                  </div>
                  <div class="semifinal">

                    <div class="round-details blue">TERCER LUGAR</div>
                    <ul class="matchup matchup-red">
                      <div class="top">

                      </div>
                      <li class="team team-top"><input type="text" class="name" placeholder="P 13"><input type="text" class="score" value="0" disabled></li>
                      <span class="vs">VS</span>
                      <li class="team team-bottom"><input type="text" class="name" placeholder="P 14"><input type="text" class="score" value="0" disabled></li>
                      <li class="team team-bottom">
                        <select class="name" name="">
                          <option value="">-- Seleccione --</option>
                        </select>
                        <input type="text" class="score" value="0" disabled>
                      </li>
                    </ul>

                  </div>
                  <div class="ct-cta hidden-max450">
                    <a class="cta" href="">ENVIAR</a>
                  </div>
                </div>
                <div class="split split-two">
                  <div class="round round-three">
                    <div class="round-details green">Semifinal</div>
                    <div class="flex-mobile">
                      <ul class="matchup matchup-red">
                        <li class="team team-top"><input type="text" class="name" placeholder="G 11"><input type="text" class="score" value="0" disabled></li>
                        <span class="vs">VS</span>
                        <li class="team team-bottom"><input type="text" class="name" placeholder="G 12"><input type="text" class="score" value="0" disabled></li>
                      </ul>
                    </div>
                  </div> <!-- END ROUND THREE -->
                  <div class="round round-two">
                    <div class="round-details purple">Cuartos de Finales</div>
                    <div class="flex-mobile">
                      <ul class="matchup matchup-blue">
                        <li class="team team-top"><input type="text" class="name" placeholder="1 B"><input type="text" class="score" value="0" disabled></li>
                        <span class="vs">VS</span>
                        <li class="team team-bottom"><input type="text" class="name" placeholder="2 C"><input type="text" class="score" value="0" disabled></li>
                      </ul>
                      <ul class="matchup matchup-blue">
                        <li class="team team-top"><input type="text" class="name" placeholder="1 C"><input type="text" class="score" value="0" disabled></li>
                        <span class="vs">VS</span>
                        <li class="team team-bottom"><input type="text" class="name" placeholder="3º A/B"><input type="text" class="score" value="0" disabled></li>
                      </ul>
                    </div>
                  </div> <!-- END ROUND TWO -->
                  <!--<div class="ct-cta hidden-min450">
                    <a class="cta" href="">ENVIAR</a>
                  </div>-->
                </div>

              </div>
              <div class="container">
                <div class="groups">
                  <div class="group group-a">
                    <div class="group-top">
                      <p>- Grupo A -</p>
                    </div>
                    <div class="group-teams">
                      <p>
                        <span>BRASIL</span>
                        <img src="resources/assets/images/flags/flags_03.png" alt="">
                      </p>
                      <p>
                        <span>BOLIVIA</span>
                        <img src="resources/assets/images/flags/flags_13.png" alt="">
                      </p>
                      <p>
                        <span>VENEZUELA</span>
                        <img src="resources/assets/images/flags/flags_19.png" alt="">
                      </p>
                      <p>
                        <span>PERÚ</span>
                        <img src="resources/assets/images/flags/flags_25.png" alt="">
                      </p>
                    </div>
                  </div>
                  <div class="group group-b">
                    <div class="group-top">
                      <p>- Grupo B -</p>
                    </div>
                    <div class="group-teams">
                      <p>
                        <span>ARGENTINA</span>
                        <img src="resources/assets/images/flags/flags_06.png" alt="">
                      </p>
                      <p>
                        <span>COLOMBIA</span>
                        <img src="resources/assets/images/flags/flags_14.png" alt="">
                      </p>
                      <p>
                        <span>PARAGUAY</span>
                        <img src="resources/assets/images/flags/flags_20.png" alt="">
                      </p>
                      <p>
                        <span>QATAR</span>
                        <img src="resources/assets/images/flags/flags_26.png" alt="">
                      </p>
                    </div>
                  </div>
                  <div class="group group-c">
                    <div class="group-top">
                      <p>- Grupo C -</p>
                    </div>
                    <div class="group-teams">
                      <p>
                        <span>URUGUAY</span>
                        <img src="resources/assets/images/flags/flags_08.png" alt="">
                      </p>
                      <p>
                        <span>ECUADOR</span>
                        <img src="resources/assets/images/flags/flags_15.png" alt="">
                      </p>
                      <p>
                        <span>JAPÓN</span>
                        <img src="resources/assets/images/flags/flags_21.png" alt="">
                      </p>
                      <p>
                        <span>CHILE</span>
                        <img src="resources/assets/images/flags/flags_27.png" alt="">
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section>


        </div>
      </div>
    </div>
  </div>
</div>


<div class="alerta">
  <div class="alertint">
    <a class="cerraralerta">X</a>
    <span class="textalert"></span>
  </div>
</div>
<footer>
    <div class="content-footer">
      <img src="resources/assets/images/logo_footer.png" alt="">
      <div class="redes">
        <a href="#">
          <img src="resources/assets/images/fb.png" alt="">
        </a>
        <a href="#">
          <img src="resources/assets/images/ins.png" alt="">
        </a>
        <a href="#">
          <img src="resources/assets/images/tw.png" alt="">
        </a>
        <a href="#">
          <img src="resources/assets/images/yt.png" alt="">
        </a>
        <a href="#">www.unicentromedellin.com.co</a>
      </div>
    </div>
</footer> 

<script src="resources/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="resources/assets/js/vendor/jquery.bxslider.min.js"></script>
<script src="resources/assets/js/vendor/jquery-scrolltofixed-min.js"></script>
<script src="resources/assets/js/app/app.app-min.js"></script>
</body>
</html>
