<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfileError" xsi:type="File" fileName="${basedir}/Logs/${shortdate}-Error.txt" />
    <target name="logfileInfo" xsi:type="File" fileName="${basedir}/Logs/${shortdate}-Info.txt" />
    <target name="logfileWarn" xsi:type="File" fileName="${basedir}/Logs/${shortdate}-Warn.txt" />
      <target name="logfileTrace" xsi:type="File" fileName="${basedir}/Logs/${shortdate}-MegaRed.txt" />
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="logfileError" />
    <logger name="*" level="Info" writeTo="logfileInfo" />
    <logger name="*" level="Warn" writeTo="logfileWarn" />
   <logger name="*" level="Trace" writeTo="logfileTrace" />
  </rules>
</nlog>