<appSettings>
  <add key="FinishDate" value="2019-06-01 00:00:00"/>
  <add key="IdEvent" value="A6566E21-002F-4B6B-BC4B-6EF30827ACAE"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>