/*------------------------------------*\
  $CONTENT
\*------------------------------------*/
/**
 * IMPORTS..................Import dependencies SASS
 * VARIABLES................Variables globals for SASS
 * FONT_FACE................Include font-face
 * ICONS_FONT...............Icons for fonts
 * ICONS....................SVG's imported to SASS
 * SPRITES..................Images sprites
 * BASIC_STYLES.............Basics styles
 * CORE_STYLE...............Styles para Core.js components
 * MASTER_PAGE..............Styles for master page
 * PARTIALS.................Styles for partials html
 * SECTIONS.................Styles for sections site
 * RESPONSIVE...............Styles for mobile
 */
/*------------------------------------*\
  $IMPORTS
\*------------------------------------*/
@import "sprites";
@import "normalize";
@import "utility";
@import "animate";
@import "bxslider";
/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
$font: 'Oswald', sans-serif;
$font2: 'anodyneregular';
$color: #064087;
$color2: #c78746;
/*------------------------------------*\
  $FONT_FACE
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@font-face {
  font-family: 'noticia_textregular';
  src: url("../font/noticiatext-regular-webfont.woff2") format('woff2'), url("../font/noticiatext-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'anodyneregular';
    src: url('../font/anodyne-webfont.woff2') format('woff2'),
         url('../font/anodyne-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin font-gen {
  font-family: $font;
  color: white;
}
/*------------------------------------*\
  $BASIC_STYLES
\*------------------------------------*/
body {
  background-color: white;
  font-family: $font;
  color: white;
}

body .contentBody,
body .contentBody .tyc,
body .wrapper,
body .wrapper-general {
  overflow: auto;
}

.home,
.login {
  background: url("../images/bg_home.jpg");
  background-size: cover;
}

.terminos{
  background: url("../images/bg-terminos.jpg");
}

.mapa{
  background: url("../images/bg_mapa.jpg");
  background-size: cover;
  background-position: top center;
  background-color: #2a3c4a;
  .container{
    margin: auto;
    padding: 0;
    max-width: 1200px;
    justify-content: space-between;
    width: 100%;
    .content-home{
      width: 100%;
      .wrapper-general{
        width: 100%;
      }
    }
  }
  footer{
    display: none;
  }
  .logo-mapa{
    margin: 20px auto 0 auto;
    display: block;
  }
  input{
    outline: 0;
    color: #727176;
  }
}

#bracket {
  overflow: hidden;
  font-size: 12px;
  /*padding: 40px 0 0;*/
  margin: 0;
  /*border: 1px solid black;*/
}

.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.split {
  display: block;
  display: flex;
  flex-direction: row;
  width: 38%;
  justify-content: space-between;
}

.champion {
  display: block;
  width: 200px;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  align-self: center;
  margin-top: 55px;
  text-align: center;
  padding: 230px 0\9;
}

.champion i {
  color: #a0a6a8;
  font-size: 45px;
  padding: 10px 0;
}

.round {
  position: relative;
  display: block;
  float: left;
  display: block;
  width: 200px;
}

.split-two {}

.split-one .round {
  margin: 0;
  padding: 0;
}

.split-two .round {
  margin: 0;
}

.matchup {
  margin: 0;
  width: 100%;
  padding: 0;
  /*padding: 15px 5px;*/
  /* height: 100px; */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  border-radius: 15px;
  /*margin: 25px 0;*/
  position: relative;

  &.matchup-red {
    /*background: url("../images/red.png") no-repeat center top;
    background-size: cover;*/

    .division-oct {
      margin-bottom: 150px;
    }
  }

  &.matchup-blue {
    /*background: url("../images/blue.png") no-repeat center top;
    background-size: cover;*/
  }
}

.bttm {
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translate(-50%);
  width: 90px;
}

.top {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  max-width: 100px;
  width: 70%;
  min-width: 60px;

  &.blue {
    background: url("../images/blue_top.png") no-repeat center top;
    background-size: 100% 100%;
  }

  &.yellow {
    background: url("../images/yellow_top.png") no-repeat center top;
    background-size: 100% 100%;

    span {
      color: #0e7ac1;
    }
  }

  span {
    color: white;
    font-size: 15px;
    height: 10px;
  }
}

.matchup .vs {
  font-size: 18px;
  font-family: $font2;
  color: white;
  margin: 5px auto;
  display: block;
}

.matchup .team-bottom{
  margin-bottom: 20px;
}

.score {
  font-size: 11px;
  text-transform: uppercase;
  float: right;
  color: #2C7399;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  right: 5px;
}

.team {
  padding: 0 5px;
  margin: 3px 0;
  height: 36px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.round-one,
.round-three {
  /*background-color: rgba(0, 0, 0, 0.2);*/
  /*background: url("../images/bg_grey.png") no-repeat center center;*/
  background-size: cover;
}

.round-three{
  .team-top{
    margin-bottom: 30px;
  }
  .team-bottom{
    margin-top: 30px;
  }
}

.split-two .round-three{
  margin-top: 28px;
}

.round-two .matchup {
  margin: 0;
  padding: 0;
  /*height: 60px;*/
  /*padding: 50px 0;*/
}

.split-one .round-three{
  margin-top: 28px;
  .matchup {
    margin: 0;
    padding: 0;
    .team-top{
      margin-bottom: 30px;
    }
    .team-bottom{
      margin-top: 30px;
    }
  }
}

.round-details {
  font-family: $font2;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  background: #5f3775;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 70%;
  margin: auto;
}

.purple{
  background: #5f3775;
}

.green{
  background: #5f8b47;
}

.yellow{
  background: #d39f2f;
}

.blue{
  background: #508d9b;
}

.champion li,
.round li {
  background-color: #fff;
  box-shadow: none;
  opacity: 0.45;
}

.current li {
  opacity: 1;
}
/*.current li.team {background-color: #fff;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);opacity: 1;    text-align: left;}*/
li.team {
  background-color: transparent;
  text-align: left;
  opacity: 1;
  margin: 0;
  padding: 0;
}

li.team .name {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 67%;
  display: inline-block;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 21px;
  padding-left: 10px;
  border: 0;
  line-height: 20px;
  height: 100%;
}

li.team select.name{
  color: #727176;
  outline: 0;
  width: 73%;
  border: 0;
  appearance: none;
}

li.team .score {
  background-color: rgba(255, 255, 255, 0.57);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 20%;
  display: inline-block;
  margin-left: 5%;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 21px;
  border: 0;
  line-height: 20px;
  height: 100%;
}

.vote-options {
  display: block;
  height: 52px;
}

.share .container {
  margin: 0 auto;
  text-align: center;
}

.share-icon {
  font-size: 24px;
  color: #fff;
  padding: 25px;
}

.share-wrap {
  max-width: 1100px;
  text-align: center;
  margin: 60px auto;
}

.final {
  .matchup {
    /*background: url("../images/final.png") no-repeat center top;*/
    background-size: 100% 100%;
    height: auto;
    padding: 0;
    margin: 0;

    .top {
      top: 25px;
    }

    li.team {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }

    .vs {
      display: inline-block;
      vertical-align: middle;
      font-family: $font2;
      width: 10%;
      color: white;
    }

    .name-champ {
      background-color: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      width: 75%;
      display: inline-block;
      border-radius: 8px;
      padding-left: 10px;
      border: 0;
      margin-top: 5px;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      line-height: 25px;
      height: 30px;
    }
  }
}

.semifinal {
  .matchup {
    /*background: url("../images/semifinal.png") no-repeat center top;*/
    background-size: 100% 100%;
    height: auto;
    padding: 0;
    margin: 0;

    .top {
      top: 32px;
    }

    li.team {
      display: block;
      width: 100%;
      vertical-align: middle;
    }

    .vs {
      display: inline-block;
      vertical-align: middle;
      font-family: $font2;
      width: 10%;
      color: white;
    }

    .name-champ {
      background-color: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      width: 75%;
      display: inline-block;
      border-radius: 8px;
      padding-left: 10px;
      border: 0;
      margin-top: 5px;
      line-height: 25px;
      text-align: center;
      line-height: 20px;
      height: 30px;
    }
  }
}

.ct-cta {
  margin-top: 50px;
  text-align: center;

  .cta {
    font-family: $font2;
    color: #ecb05b;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid rgba(255, 255, 255, 0.59);
    padding: 3px 30px;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    width: 100px;
    margin: auto;

    &:hover{
      transition: 0.5s;
      transform: scale(1.1);
    }
  }
}

.groups {
  width: 100%;
  font-size: 0;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;

  .group {
    background-color: #ecedef;
    color: #5b5a5d;
    border-radius: 20px;
    overflow: hidden;
    width: 180px;
    margin: 20px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    .group-top {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      p {
        margin: 0;
        font-size: 19px;
        font-weight: bold;
      }
    }

    .group-teams {
      text-align: left;
      padding: 14px;
      box-sizing: border-box;

      p {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
      }
    }
  }
  .group-a{
    .group-top{
      background: #508d9b;
    }
  }
  .group-b{
    .group-top{
      background: #d39f2f;
    }
  }
  .group-c{
    .group-top{
      background: #5f8b47;
    }
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.share-icon {
  color: #fff;
  opacity: 0.35;
}

.share-icon:hover {
  opacity: 1;
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
}

.date {
  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'Istok Web', sans-serif;
  color: #3F915F;
}

.login {
  .part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-login {
      width: 360px;

      input {
        width: 100%;
        height: 33px;
        display: block;
        padding: 0;
        border: 0;
        border-radius: 50px;
        margin-bottom: 10px;
        outline: 0;
        text-indent: 20px;
        color: #727176;
      }

      .campo {
        display: flex;
        align-items: flex-start;
        line-height: 30px;

        input {
          width: auto;
          margin-right: 10px;
        }

        span {
          font-size: 18px;

          a {
            color: #d99146;
          }
        }
      }

      input[type=submit] {
        background: url("../images/ingresar_btn.png");
        color: transparent;
        width: 169px;
        height: 45px;
        margin: 10px auto;
      }
    }
  }
}

.alerta {
  display: none;
}

footer {
  max-width: 1000px;
  margin: auto;
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  .redes {
    display: flex;
    justify-content: space-around;
  }
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
  padding-top: 50px;
}

.content-home {
  display: flex;
  width: 100%;

  .part1 {
    max-width: 580px;
    width: 100%;

    .loteria {
      margin-bottom: 40px;
    }

    .content-parrafo {
      background: url("../images/bg-p.png");
      background-repeat: no-repeat;
      box-sizing: border-box;
      min-height: 638px;
      padding: 20px;
      font-size: 18px;

      h3 {
        color: $color2;
        font-weight: bold;
        margin: 0;
      }

      span {
        color: $color2;
        font-weight: bold;
      }

      p {
        padding: 0;
        margin: 0 0 20px;
      }

      .bold {
        font-weight: bold;
        color: white;
      }
    }
  }

  .part2 {
    max-width: 400px;
    position: relative;

    img {
      width: 100%;
    }
  }
}

.participa {
  width: 159px;
  margin: 20px 0;
  display: block;
  left: 50%;
  position: relative;
  margin-left: -50px;
}



.terminos{
  .content-home{
    align-items: flex-start
  }
  .content-terminos{
    max-width: 850%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0.88);
    border-radius: 20px;
    margin-left: 20px;
    h1{
      font-size: 36px;
      text-transform: uppercase;
      color: #d99146;
      font-family: $font2;
      text-align: center;
    }
    h3{
      color: #d99146;
      font-family: $font2;
      text-align: left;
      font-size: 36px;
    }
    p{
      position: relative;
      &:before{
        content: url("../images/rombo.png");
        position: absolute;
        left: -14px;
      }
    }
  }
}

/*------------------------------------*\
  $RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 1600px) {}
@media only screen and (max-width: 1000px) {}
@media only screen and (max-width: 700px) {
  .mapa .container{
    flex-wrap: wrap;
    .split{
      width: 100%;
    }
  }
  .split-one{
    order: 1;
  }
  .split-two{
    order: 2;
  }
  .champion{
    order: 3;
    margin: auto;
  }
  .mapa .logo-mapa{
    margin: 20px auto;
  }
  .content-home{
    flex-wrap: wrap;
  }
  .content-home .part1 img{
    width: 100%;
  }
  .content-home .part1 .loteria{
    width: auto;
  }
  .login{
    .container{
      padding: 10px;
    }
    .content-home .part2{
      width: 100%;
      margin-top: 20px;
    }
  }
  footer{
    justify-content: center;
  }
  .home{
    .content-home .part1 .content-parrafo{
      background: none;
      text-align: justify;
      padding: 0;
    }
    .participa{
      margin: 20px auto;
      left: auto;
    }
    .content-home{
      .part1{
        order: 2;
      }
      .part2{
        order: 1;
      }
    }
  }
  .terminos{
    background: url("../images/bg_home.jpg");
    .loteria{
      margin-bottom: 20px;
    }
  }
  .terminos .content-terminos h1,
  .terminos .content-terminos h3{
    font-size: 26px;
  }
}
